<router>
    <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp">
        <id>6</id>
        <neighbor>
            <id>20.20.20.20</id>
            <remote-as>20</remote-as>
            <ebgp-multihop>
                <max-hop>2</max-hop>
            </ebgp-multihop>
            <update-source>
                <Loopback>0</Loopback>
            </update-source>
        </neighbor>
        <network>
            <number>192.168.6.0</number>
            <mask>255.255.255.0</mask>
        </network>
    </bgp>
</router>