<router>
    <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
        <id>1</id>
        <passive-interface>
            <interface>Loopback1</interface>
        </passive-interface>
        <router-id>6.6.6.6</router-id>
        <network>
            <ip>6.6.6.6</ip>
            <mask>0.0.0.0</mask>
            <area>0</area>
        </network>
        <network>
            <ip>10.3.255.0</ip>
            <mask>0.0.0.255</mask>
            <area>0</area>
        </network>
    </ospf>
    </router>